{% extends 'base.html'%}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block title %} Trang chủ {% endblock %}
{% block content %} 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>
<style>
  .card.col-product:hover {
    border-color: #ff6600;}
</style>
<!--SLIDER-->
<div id="carouselExampleIndicators" class="carousel slide py-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div>
    <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://media.hasaki.vn/hsk/1666345772homecogia-(8).jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://media.hasaki.vn/hsk/16663466109f3947bf-e9ec-4ef6-a0fa-a244a845921b.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://media.hasaki.vn/hsk/1666345509homecogia-(9).jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<!--END SLIDER-->
</div>

<!-- TOP 10 PRODUCTS -->

<div class="bbb_viewed">
  <div class="container">
      <div class="row">
          <div class="col">
             <div class="bbb_main_container">
              <div class="bbb_viewed_title_container">
                  <h3 class="bbb_viewed_title">Sản phẩm bán chạy</h3>
                  <div class="bbb_viewed_nav_container">
                      <div class="bbb_viewed_nav bbb_viewed_prev"><img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/back.png" alt="back"/></div>
                      <div class="bbb_viewed_nav bbb_viewed_next"><img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/forward.png" alt="forward"/></div>
                  </div>
              </div>
              <div class="bbb_viewed_slider_container">
                  <div class="owl-carousel owl-theme bbb_viewed_slider">
                    {% for queryset in best_selling_products %}
                        {% for prod in queryset %}
                      <div class="owl-item card col-product">
                        <a class="text-dark text-decoration-none" href="{{prod.get_absolute_url}}">

                          <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                              <div class="bbb_viewed_image"><img src="{{prod.image.url}}" alt=""></div>
                              <div class="bbb_viewed_content text-center">
                                  <div class="bbb_viewed_price new-price">{{prod.price|intcomma}}<span class="">{{prod.old_price|intcomma}}</span></div>
                                    <hr style="color:#ff6600;">
                                  <div class="bbb_viewed_name"><p class="card-title product-title">{{prod.title}}</p></div>
                              </div>
                              <ul class="item_marks">
                                  <li class="item_mark item_discount">-{% widthratio prod.price prod.old_price 100 as sale%} {{100|sub:sale}}%</li>
                                  <li class="item_mark item_new">new</li>
                              </ul>
                          </div>
                        </a>
                      </div>
                        {% endfor %}
                    {% endfor %}
                      {% comment %} <div class="owl-item">
                          <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                              <div class="bbb_viewed_image"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560924221/51_be7qfhil.jpg" alt=""></div>
                              <div class="bbb_viewed_content text-center">
                                  <div class="bbb_viewed_price">₹30079</div>
                                  <div class="bbb_viewed_name"><a href="#">Samsung LED</a></div>
                              </div>
                              <ul class="item_marks">
                                  <li class="item_mark item_discount">-25%</li>
                                  <li class="item_mark item_new">new</li>
                              </ul>
                          </div>
                      </div>
                      <div class="owl-item">
                          <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                              <div class="bbb_viewed_image"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560924241/8fbb415a2ab2a4de55bb0c8da73c4172--ps.jpg" alt=""></div>
                              <div class="bbb_viewed_content text-center">
                                  <div class="bbb_viewed_price">₹22250</div>
                                  <div class="bbb_viewed_name"><a href="#">Samsung Mobile</a></div>
                              </div>
                              <ul class="item_marks">
                                  <li class="item_mark item_discount">-25%</li>
                                  <li class="item_mark item_new">new</li>
                              </ul>
                          </div>
                      </div>
                      <div class="owl-item">
                          <div class="bbb_viewed_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                              <div class="bbb_viewed_image"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560924275/images.jpg" alt=""></div>
                              <div class="bbb_viewed_content text-center">
                                  <div class="bbb_viewed_price">₹1379</div>
                                  <div class="bbb_viewed_name"><a href="#">Huawei Power</a></div>
                              </div>
                              <ul class="item_marks">
                                  <li class="item_mark item_discount">-25%</li>
                                  <li class="item_mark item_new">new</li>
                              </ul>
                          </div>
                      </div>
                      <div class="owl-item">
                          <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                              <div class="bbb_viewed_image"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560924361/21HmjI5eVcL.jpg" alt=""></div>
                              <div class="bbb_viewed_content text-center">
                                  <div class="bbb_viewed_price">₹225<span>₹300</span></div>
                                  <div class="bbb_viewed_name"><a href="#">Sony Power</a></div>
                              </div>
                              <ul class="item_marks">
                                  <li class="item_mark item_discount">-25%</li>
                                  <li class="item_mark item_new">new</li>
                              </ul>
                          </div>
                      </div>
                      <div class="owl-item">
                          <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                              <div class="bbb_viewed_image"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560924241/8fbb415a2ab2a4de55bb0c8da73c4172--ps.jpg" alt=""></div>
                              <div class="bbb_viewed_content text-center">
                                  <div class="bbb_viewed_price">₹13275</div>
                                  <div class="bbb_viewed_name"><a href="#">Speedlink Mobile</a></div>
                              </div>
                              <ul class="item_marks">
                                  <li class="item_mark item_discount">-25%</li>
                                  <li class="item_mark item_new">new</li>
                              </ul>
                          </div>
                      </div> {% endcomment %}
                  </div>
              </div>
             </div> 
          </div>
      </div>
  </div>
</div>

<!--SHOW PRODUCTS-->

  <div class="list-product mt-5">
      <div class="row">
          <h2 class = "list-product-title">Danh sách sản phẩm</h2>
          <div class="list-product-description h-50">
            <p>Sản phẩm nổi bật</p>
          </div>
      </div>
    <hr>

      <div class="product-group">
          <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-3">
            {% for product in page_obj %}
              <div class="col">
                <div class="card col-product">
                    <a class="text-dark text-decoration-none" href="{{product.get_absolute_url}}">
                      <img class="card-img-top img-resize" src="{{ product.image.url }}" alt="Card image cap">
                      
                      <div class="card-body">
                        <div class="product-price">
                            <span class='new-price'>{{ product.price|intcomma}} đ</span>
                            {% if product.old_price != 0 %}
                            <span class = "discount-percent">{% widthratio product.price product.old_price 100 as sale%} {{100|sub:sale}}%</span>
                            <span class='old-price px-1'>{{product.old_price|intcomma}} đ</span>
                            {% endif %}

                        </div>
                        <p class="card-title product-title">{{ product.category.title }}</p>
                        <p class="card-text product-name mb-2">{{ product.title}}</p>
                        <button type="button" id="add-button" data-index="{{product.id}}" class="btn btn-success w-100 add-button">Thêm vào giỏ</button>
                      </div>
                    </a>
                </div>
              </div>
            {% endfor %}
          </div>
      </div>
  </div>
  <div>
  </div>
  <nav aria-label="Page navigation example" class="mt-4">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        {% if page_obj.has_previous %}       
          <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1">Previous</a>
        {% endif %}
      </li>
      <li class="page-item"><a class="page-link" href="?page={{page_obj.number}}">{{page_obj.number}}</a></li>
      {% if page_obj.has_next %}
      <li class="page-item">      
          <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a>
      </li>
      {% endif%}
    </ul>
  </nav>

  <script>  
    $(document).ready(function()
{

   
        if($('.bbb_viewed_slider').length)
        {
            var viewedSlider = $('.bbb_viewed_slider');

            viewedSlider.owlCarousel(
            {
                loop:true,
                margin:30,
                autoplay:true,
                autoplayTimeout:6000,
                nav:false,
                dots:false,
                responsive:
                {
                    0:{items:1},
                    575:{items:2},
                    768:{items:3},
                    991:{items:4},
                    1199:{items:6}
                }
            });

            if($('.bbb_viewed_prev').length)
            {
                var prev = $('.bbb_viewed_prev');
                prev.on('click', function()
                {
                    viewedSlider.trigger('prev.owl.carousel');
                });
            }

            if($('.bbb_viewed_next').length)
            {
                var next = $('.bbb_viewed_next');
                next.on('click', function()
                {
                    viewedSlider.trigger('next.owl.carousel');
                });
            }
        }


    });
</script>
<!--END PRODUCTS-->
  
{% endblock %}
